 @font-face {
    font-family: MyriadPro-Bold; /* Имя шрифта */
    src: url(../fonts/MyriadPro-Bold.otf); /* Путь к файлу со шрифтом */
   }
 @font-face {
    font-family: MyriadPro-Regular; /* Имя шрифта */
    src: url(../fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
   }
  @font-face {
    font-family: Arial-Regular; /* Имя шрифта */
    src: url(../fonts/Arial-Regular.ttf); /* Путь к файлу со шрифтом */
   }