.account .col-md-3{
    padding-top: 10px;
        }

.account{
       .btnsend{
         height: 20px;
        width: 60px;
        float: right;
       padding: 0;
            margin-left: 20px;
    margin-right: 155px;
    }
    .btnclear{
        height: 20px;
        width: 60px;
        float: right;
        padding: 0;
     
    }
}
.content .row .col-md-8{
    h1{
        span{
            color: $log;
        }
         font: 24px/32px "MyriadPro-Regular";
    }
    h5{
         span{
            color: $log;
        }
        a{
            text-decoration: underline;
        }
         font: 13px/30px "Arial-Regular";
    }
     
    .colonka{
        width: 100%;
    }
     h3{
          font: 700 13px/30px "Arial-Regular";
    }
   
    .col-md-6{
        padding-top: 10px;
    }
    .lbltext{
        font: 13px/30px "Arial-Regular";
    }
      .star{
         color: $log;
        font: 13px/30px "Arial-Regular";
    }
    
 
}

.content .row .col-md-8 .Personal-Details{

    h4{
        font: 13px/30px "Arial-Regular";
             
    }
   
  
  
       h6{
        font: 700 13px/30px "Arial-Regular";
        >span{
            color: $log;
            float: right;
             font: 13px/30px "Arial-Regular";
        }
        
    }
    
}
.radio, .checkbox {
  display: inline-block;
  
        
}
.Male{
      padding-right: 50px;
        padding-left: 200px;
}
