aside {
    display: block;
//    max-width: 240px;
    
    margin-bottom: 62px;
    
}
aside span {
    color: #0bb1e8;
}
.sidebar-title {
    float: left;
    display: block;
//    max-width: 244px;
    width: 100%;
    padding: 10px 0 10px 18px;
    margin-bottom: 20px;
    font: 300 16px;
    border: 1px solid
    #e5e5e5;
    border-radius: 6px;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
}
.panel {
    background: none;
    border-bottom: dotted 2px  #cccccc;
    text-decoration: none;
}
    .panel-title {
     font: 14px;   
    }   
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}
.panel-body li {
    list-style: none;
    color: #0bb1e8;
}
.panel-body a {
    text-decoration: none;
    color: #0bb1e8;
    &:hover {
        color: black;
    }
}
.phone-img {
    width: 100%;
    margin-bottom: 25px;
}
.caret {
    color: #fff;
}
.btnselect1{
    width: 100%;
    padding: 0 20px;
    .dropselect{
   width: 80%;
    position: relative;
            overflow: auto;
        }
    .btnsel{
        background: $log;
                     }
    
}
.btnselect1 .btnselect{
        background: white;
    border: 1px solid #cccccc;
        width: 80%;
    margin-right: 10px;
    color: #a6a5a7;
}

