.contact{
    .colonka{
        padding-top: 10px;
    }
    .row .mail{
       padding-top: 10px;
    }
    .enquiry{
        padding-top: 10px;
    }
    .colonkaenquiry{
        width: 100%;
        height: 800px;
    }
       .btnsend{
         height: 20px;
        width: 60px;
        float: right;
           padding: 0;
       margin-top: 30px;
            margin-left: 20px;
    
    }
    .btnclear{
        height: 20px;
        width: 60px;
        float: right;
        padding: 0;
        margin-top: 30px;
     
    }
}
 