.header {
    display: block;
    height: 100px;
    width: 100%;
    background: red;
}
.Our_Spotlife {
    font: 300 24px;
    margin-bottom: 27px;
    span {
        color: #0bb1e8;
    }
}
.img-wrapper {
    display: inline-block;
    width: 100px;
    height: 77px;
}
.item-text {
    margin-left: -10px;
    text-align: left;
//    display: inline-block;
    float: right;
}
.item-text a{
    text-decoration: none;
}
.item-text h5 {
    color: #30373a;
}
.item-text p {
    margin-top: 35px;
    color: #0bb1e8; 
}
#owl-demo {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 61px;
}
#owl-demo .item {
    width: 210px;
}
#owl-demo .owl-prev {
    display: block;
    width: 11px;
    height: 23px;
    position: absolute;
    background: url(../img/arrow_left.png) no-repeat;
    left: -20px;
    top: 20px;
}
#owl-demo .owl-next {
    display: block;
    padding: 0;
    width: 11px;
    height: 23px;
    position: absolute;
    background: url(../img/arrow_right.png) no-repeat;
    right: -20px;
    top: 20px;
}
#owl-demo .item img {
  display: block;
  height: 100%;
}
.text-center a{
    text-align: center;
}
.footer-nav {
    font: 13px;
    background: #30373a;
    background: linear-gradient(to bottom, #5c6a6e, #30373a);
    border-radius: 6px;
}
.footer-nav ul {
    width: 100%;
    text-align: center;
}
.footer-nav li {
    width: 20%;
}
footer .navbar-default .navbar-nav > li > a {
    color: #fff;
    line-height: 20px;
    &:before {
        content: "";
        position: absolute;
        top: 18px;
        bottom: 18px;
        right: 0;
        width: 2px;
        background: #bfcbce;
    }
    &:hover {
    color: #0bb1e8;
    }
}
footer .navbar-default .navbar-nav > li {
 &:last-child a {
        &:before{
            display: none;
        }
    }
}
@media screen and (min-width: 780px) {
.mobile-btn {
    display: none;
    }
}
@media screen and (max-width: 779px) {
.mobile-btn li {
    list-style: none;
    text-decoration: none;
     width: 100%;
    margin: 0 auto;
    border: none;
   text-align: center;
}
 .mobile-btn a {
   
    color: #fff;
}
.mobile-btn a:hover {
    color: #0bb1e8;
    background: none;
    text-decoration: none;
}
}
.auther {
    max-width: 940px;
    widht: 100%;
    font: 13px;
    margin: 0 auto;
    text-align: center;
}
.auther span {
    color: #0bb1e8;
    text-decoration: underline;
}
