.logo{
    margin-top: 28px;
}
.logo img{
        float: left;
}
.logo a{
     text-decoration:none;
}
.logo h2{
    color: black;
     font: 700 30px/32px "MyriadPro-Bold";
 
}
.logo h2 span{
    color: $log;
    font: 30px/32px "MyriadPro-Regular";
        
}
.logo p{
    color: black;
    font: 12px/32px "Arial-Regular";
        margin-top: -22px;
}
.btncol{
        background-color: #30b6ef;
    border-color: #46b8da;
        color: white;
}

.headerpad{
        margin: 0;
}
h5 a span{
    
    color: $log;
     font: 13px/30px "Arial-Regular";
      text-decoration: none;
}
h5 a:hover{
     text-decoration: none;
}

h5 .span1{
    color: #9a9a9a;
}
.lang {
    background: linear-gradient(to bottom, #5c6a6e, #30373a);
    float: right;
     border-radius: 6px;
   margin-bottom: 30px;
   
}
.languages{
    
    display: inline-block;
    font: 16px/32px "MyriadPro-Regular";
    color: white;
    
}
.mova{
   display: inline-block;
   padding-right: 30px;
    
}
.mova .btnmova{
    width: 90px;
    background: white;
}
.dolar .btndolar{
    width: 90px;
    background: white;
}
.dolar {
     display: inline-block;
}
.news {
    margin-top: 20px;
}
.cart nav li a {
    list-style: none;
    font: 16px/32px "MyriadPro-Regular";
     &:before{
    content: ""; 
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 1px;
    
    }
}
.cart nav li a {
    &:last-child a{
        &:before{
           display: none; 
        }  
    }
}
.navbar-default .navbar-nav > li >
a:hover{
    color: $log;
    background-color: transparent;
}
.navbar-header {
    background: linear-gradient(to bottom, #ffffff #f2f2f2);
}
.cartbg li a {
        text-align: center;
     &:before{
        content: "";
         position: absolute;
//        top: 10px;
//        bottom: 10px;
        right: 0;
         display: none;
      
}
}
