.content {
    margin-top: 30px;
}
.btn-view {
   float: right;
    background: linear-gradient(to bottom, #61d3f6, #27b1ee);
    border-radius: 6px;
}
.btn-view a{
    color: #fff;
    text-decoration: none;
}
.padding-reset {
    padding-left: 0;
    padding-right: 0;
}
.content-title {
    display: inline-block;
    font: 300 24px;
    text-align: left;
    margin: 0 0 20px 0;
    span {
        color: #0bb1e8;
    }
}
//.cnt-itm-rghtbdr {
//    border-right: 2px dotted  #cccccc;
//}
.content-item-block{
    margin-top: 30px;  
}
.content-item {

    width: 100%;
//    border-bottom: 2px dotted  #cccccc;
    padding: 0 20px;
    margin-left: -10px;
    margin-bottom: 40px;
}
.content-img-wrapper {
    width: 110px;
    height: 110px;
}
.content-img-wrapper img {
    width: 100%;
    margin: 0 auto;
}
.content-item-text {
    text-align: left;
    margin-top: 20px;
    
}
.content-item-text a{
   color: #111017;
    text-decoration: none;
}
.content-item-text h5 {
    color: #111017;
    text-decoration: none;
}
.content-item-text p {
    color: #0bb1e8;  
}
.breadcrumbs {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #0bb1e8;
}
.text-black p{
    color:#111017;
}
@media screen and (max-width: 435px) {
    .btn-view {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
.content-img-wrapper {
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
.content-img-wrapper img {
    height: auto;
}
@media screen and (max-width: 990px) {
    .content-item {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }
    .content-item-text {  
    }
    .content-item-text a  {
        text-align: center;
        line-height: 5px;
    }
    .content-item-text span  {
        display: block;
        text-align: center;
        float: none;
    }
}