.news{
    background: linear-gradient(to bottom, #b7d2da, #303739);
    border: 8px solid #f3f3f3;
    border-radius: 7px;
    height: 301px;
        overflow: hidden;
    }
.news .row .col-md-4 a{
    font: 20px/32px "MyriadPro-Regular";
 height: 58px;
    
}
.list-group-item{
     background: linear-gradient(to bottom, #fefefe, #e7e7e7);
    
}
 .btn-news{
        background: url(../img/arrow_btn.png) no-repeat;
    width: 28px;
   height: 28px;
     float: left;
     border: none;
        margin-right: 10px;
   
    }
a.list-group-item:hover{
       opacity: 0;
    color: #FFF;
    
}

a.sss:hover{
    background: none;
    opacity: 1;
    border: none;
}

.news .row .col-md-8 img{
    padding-left: 125px;
    
}

.news .row .col-md-8 .text-news{
    h3{
          font: 700 28px/22px "MyriadPro-Bold";
    }
    h5{
         font: 100 20px/22px "MyriadPro-Regular";
    }
    h1{
        font: 700 44px/26px "MyriadPro-Bold";
        padding-top: 20px;
    }
    position: absolute;
    color: white;
      padding-top: 65px;
}

