.special-content {
margin-top: 30px;
}
.specials-content-title {
    width: 100%;
    font: 300 24px;
    text-align: left;
    margin: 0 0 20px 0;
    span {
        color: #0bb1e8;
    }
}
.specials-brdcrmb-upsctn {
    margin-bottom: 20px;
}
.specials-breadcrumbs {
    float: right;
}
//.next-page{
// display: inline-block;
// float: left;
//}
//.pagination{
// margin: 5px;
//}
.pagination > li > a, .pagination > li > span {
 font-size: 13px;
 font-family: 'arial';
    padding-right: 10px;
    color: #337ab7;
    background: none;
    border: none; 
    text-decoration: underline;
}
//.nav-next-page li{
// margin-left: 5px;
// border: none;
// display: inline-block;
//}
//.nav-next-page .link-a a{
// text-decoration: underline;
//}
.specials-breadcrumbs-p {
    display: inline-block;
    text-align: left;
    line-height: 75px;
}
.content-item-text p{
    font-size: 11px;
}
.content-item-text span {
    font-size: 11px;
    color: #0bb1e8;
    text-decoration: underline;
}
.whts-content {
margin-top: 30px;
}
.whts-content-item {
    width: 100%;
}
.whts-content-img-wrapper {
    margin-right: 30px;
    float: left;
    width: 123px;
    height: 111px;
}
.whts-content-img-wrapper img {
    width: 100%;
}
.whts-content-item-text {
    float: left;
    max-width: 465px;
    width: 100%;
    margin-bottom: 30px;
}
.whts-item-heading a {
    text-decoration: none;
    font: 700 15px;
    color: #111017;
    &:hover {
        color: #0bb1e8;
    }
}
.figcaption p {
    color: #8a8a8a;
    text-decoration: none;
    font-family: 'arial' 300 11px;
    
}
.figcaption  button {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: 31px;
    width: 100px;
    border: 1px solid #e5e5e5;
     background: linear-gradient(to bottom, #ffffff, #f3f3f3);
}
.figcaption  button h4{
    margin: 0;
}
.wths-text-black a {
    color: #0bb1e8;
    font: 'arial' 300 30px;
    float: right;
}
